URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False
URxvt.perl-ext-common: default,url-select,clipboard,fullscreen,selection-to-clipboard,keyboard-select

URxvt.keysym.F11: perl:fullscreen:switch

URxvt.cursorBlink: 1
Rxvt.cursorUnderline: 1

URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

URxvt.secondaryScreen: true
URxvt.externalBorder: 2

URxvt.font: xft:DejaVu Sans Mono:size=9
URxvt*lineSpace: 5
URxvt.scrollBar: false

URxvt.letterSpace: 0

! Set the key to be interpreted as the Meta key to: alt, meta, hyper, super, mod1, mod2, mod3, mod4, mod5; option -mod.
/* URxvt*modifier: Alt */

XTerm*locale: true
XTerm*metaSendsEscape: true
XTerm*eightBitInput: false
XTerm*backarrowKey: false
XTerm*ttyModes: erase ^?
Xterm*saveLines: 8172

xterm*faceName: Liberation Mono:size=11:antialias=false
xterm*font: 7x12
XTerm*scaleHeight: 2.05
xterm*borderWidth: 0
XTerm*selectToClipboard:true

XTerm*VT100.Translations:       #override\n\
 Shift Ctrl <KeyPress> v: insert-selection(CLIPBOARD)\n\
 Shift Ctrl <KeyPress> c: copy-selection(CLIPBOARD)\n

XTerm*visualBell: false

*VT100*translations: #override Shift <Btn1Up>: exec-formatted("google-chrome '%t'", PRIMARY)

XTerm*cursorBlink: true
Xterm*vt100*geometry: 80x60
Xterm*loginShell: true
Xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
Xterm*termName: xterm-color
Xterm*eightBitInput: false

!URxvt*foreground:   #a39a90
!URxvt*background:   #27221a
!URxvt*cursorColor:  #a39a90
!URxvt*color0:       #262119
!URxvt*color8:       #5a5047
!URxvt*color1:       #a39a90
!URxvt*color9:       #a39a90
!URxvt*color2:       #a39a90
!URxvt*color10:      #a39a90
!URxvt*color3:       #576d82
!URxvt*color11:      #576d82
!URxvt*color4:       #6d5782
!URxvt*color12:      #6d5782
!URxvt*color5:       #82576d
!URxvt*color13:      #82576d
!URxvt*color6:       #4d4d4d
!URxvt*color14:      #6c6c6c
!URxvt*color7:       #a39a90
!URxvt*color15:      #dbd6d1

! special
URxvt*foreground:   #a8a8a8
URxvt*background:   #3c3b37
URxvt*cursorColor:  #ff00f2
URxvt*color0:       #5f5f5f
URxvt*color8:       #a8a8a8
URxvt*color1:       #d96468
URxvt*color9:       #d96468
URxvt*color2:       #a2d964
URxvt*color10:      #b8d98f
URxvt*color3:       #d9c964
URxvt*color11:      #d9cf8f
URxvt*color4:       #64a2d9
URxvt*color12:      #8f99d9
URxvt*color5:       #9a64d9
URxvt*color13:      #ccc1d9
URxvt*color6:       #64d9d5
URxvt*color14:      #8fd9d5
URxvt*color7:       #cbcbcb
URxvt*color15:      #c5c5c5

