[[snippets]]
  description = "enable wifi interface"
  command = "sudo ip link set wlp4s0 up"
  output = ""

[[snippets]]
  description = "bash in docker image"
  command = "docker run -it --entrypoint bash "
  output = ""

[[snippets]]
  description = "k8s pod logs"
  command = "k logs -p -c web <target_pod>"
  output = ""

[[snippets]]
  description = "restore kde bar"
  command = "rm ~/.config/plasma-org.kde.plasma.desktop-appletsrc"
  output = ""

[[snippets]]
  description = "random password"
  command = "< /dev/urandom tr -dc _A-Z-a-z-0-9 | head -c32"
  output = ""

[[snippets]]
  description = "k8s pod shell"
  command = "kubectl exec -it <target_pod> -- /bin/bash"
  output = ""

[[snippets]]
  description = "get k8s cluster credentials"
  command = "gcloud container clusters get-credentials --region=europe-west1-c eu-prod"
  output = ""

[[snippets]]
  description = "remove docker-compose images"
  command = "docker-compose stop && docker-compose rm -f"
  output = ""

[[snippets]]
  description = "forward to k8s db"
  command = "kubectl port-forward <target_pod> <port=5432>:5432"
  output = ""

[[snippets]]
  description = "git last branches worked on"
  command = "git for-each-ref --sort=-committerdate refs/heads/"
  output = ""

[[snippets]]
  description = "git show filenames of changed files between HEAD and master"
  command = "git diff --name-only HEAD master"
  output = ""

[[snippets]]
  description = "git show diff of file between HEAD and master"
  command = "git diff HEAD master -- "
  output = ""

[[snippets]]
  description = "log into k8s container"
  command = "kubectl exec --stdin --tty <container> -- /bin/bash"
  output = ""

[[snippets]]
  description = "import postgres backup"
  command = "psql -a -b -e -h localhost --username postgres -d uk_pento < /data/prod-db"
  output = ""

[[snippets]]
  description = "create postgres db in docker"
  command = "docker exec -it 24f09dc29ae7 psql -U postgres -d postgres -c \"CREATE DATABASE uk_pento;\""
  output = ""

[[snippets]]
  description = "backup postgres from docker container"
  command = "docker exec -t 2e3578f231de pg_dumpall -c -U postgres | gzip > /data/dump_`date +%d-%m-%Y\"_\"%H_%M_%S`.gz"
  output = ""

[[snippets]]
  description = "diskspace"
  command = "df -h"
  output = ""

[[snippets]]
  description = "file size"
  command = "du -sh ../pentoapp"
  output = ""

[[snippets]]
  description = "pacman list orphan packages"
  command = "sudo pacman -Qtdq"
  output = ""

[[snippets]]
  description = "pacman remove orphan packages"
  command = "sudo pacman -Rns $(pacman -Qtdq)"
  output = ""

[[snippets]]
  description = "pacman remove cached packages that not currently installed"
  command = "sudo pacman -Sc"
  output = ""

[[snippets]]
  description = "pacman dry run cache pruning"
  command = "paccache -d"
  output = ""

[[snippets]]
  description = "clean systemd journal"
  command = "sudo journalctl --vacuum-size=50M\\n"
  output = ""

[[snippets]]
  description = "connect wifi with wpa_supplicant"
  command = "sudo wpa_supplicant -B -i wlp4s0 -c /etc/wpa_supplicant/wpa_supplicant.conf"
  output = ""

[[snippets]]
  description = "colortest"
  command = "msgcat --color=test"
  output = ""

[[snippets]]
  description = "list network adapters"
  command = "rfkill list all"
  output = ""

[[snippets]]
  description = "unblock network adapter"
  command = "rfkill unblock 1"
  output = ""

[[snippets]]
  description = "wifi blocked?"
  command = "sudo rfkill list all"
  output = ""

[[snippets]]
  description = "unblock wifi"
  command = "rfkill unblock 1"
  output = ""

[[snippets]]
  description = "find duplicate lines in a file"
  command = "sort sl-employee-emails.txt | uniq -c"
  output = ""

[[snippets]]
  description = "mysql monitor connections"
  command = "mysqladmin -u root -p -i 1 processlist"
  output = ""

[[snippets]]
  description = "wifi"
  command = "sudo dhcpcd enp2s0"
  output = ""

[[snippets]]
  description = "load xresources"
  command = "xrdb -merge ~/.Xresources"
  output = ""

[[snippets]]
  description = "start local mysql/mariadb"
  command = "systemctl start mariadb"
  output = ""

[[snippets]]
  description = "extract a k8s secret"
  command = "kubectl get secret similar-products-env-v6 -o json | grep -E '\"\\.?env\":' | sed 's/^.* \"\\(.*\\)\"$/\\1/' | base64 -d"
  output = ""

[[snippets]]
  description = "filter top by process"
  command = "top -p $(pgrep -d',' proxy)"
  output = ""

[[snippets]]
  description = "mount usb drive to /media/usb-dive"
  command = "sudo mount -t ntfs-3g -o uid=1000,gid=1000 /dev/sdb1 /media/usb-drive"
  output = ""

[[snippets]]
  description = "ssh gnome-keyring-bug workaround"
  command = "SSH_AUTH_SOCK=0 ssh SERVER_ADDR"
  output = ""

[[snippets]]
  description = "photo to video"
  command = "ffmpeg -r 15 -pattern_type glob -i '*.JPG' -c:v libx264 -vf fps=25 -pix_fmt yuv420p out.mp4"
  output = ""

[[snippets]]
  description = "gcloud switch cluster"
  command = "gcloud container clusters get-credentials staging --zone europe-west1-d --project fitanalytics-staging"
  output = ""

[[snippets]]
  description = "kubectl use context"
  command = "kubectl config use-context "
  output = ""

[[snippets]]
  description = "get gke contexts"
  command = "kubectl config get-contexts"
  output = ""

[[snippets]]
  description = "get job"
  command = "kubectl --context=gke_fitanalytics-staging_europe-west1-d_staging -n feed-import get jobs -l release=in-stock-norm-all-1541427261-ms"
  output = ""

[[snippets]]
  description = "Create mysql 5.7 container"
  command = "docker run --name test-mysql -e MYSQL_ROOT_PASSWORD=secret -e MYSQL_USER=reader -e MYSQL_PASSWORD=\"$MYSQL_PASS\" -v /var/lib/mysql:/var/lib/mysql -d mysql:5.7"
  output = ""

[[snippets]]
  description = "Start a mysql server instance"
  command = "docker run --rm --name mysql-local -v /data/fita/db/mysql:/var/lib/mysql -e MYSQL_ALLOW_EMPTY_PASSWORD=yes -d mysql:5.7"
  output = ""

[[snippets]]
  description = "Connect to MySQL from the MySQL command line client"
  command = "docker run -it --link mysql-local:mysql --rm mysql sh -c 'exec mysql -h\"$MYSQL_PORT_3306_TCP_ADDR\" -P\"$MYSQL_PORT_3306_TCP_PORT\" -ureader -p'"
  output = ""

[[snippets]]
  description = "Connect to MySQL from an application in another Docker container"
  command = "docker run --name some-app --link some-mysql:mysql -d application-that-uses-mysql"
  output = ""

[[snippets]]
  description = "check wifi connection status"
  command = "iw wlp4s0 link"
  output = ""

[[snippets]]
  description = "scan networks"
  command = "sudo wpa_cli -i wlp4s0 "
  output = ""

[[snippets]]
  description = "kubetcl port forwarding"
  command = "kubectl -n staging8 port-forward staging8-gocload-5cc7cb6b45-hnk8m 9000:9000"
  output = ""

[[snippets]]
  description = "deploy to staging"
  command = "git push origin -f MYBRANCH:stagingX"
  output = ""

[[snippets]]
  description = "extract links from file"
  command = "cat <file_path> | grep -o 'http[s]\\?:\\/\\/[[:alnum:]\\%\\/_\\#.-]*'"
  output = ""

[[snippets]]
  description = "diff files"
  command = "diff -y -a <a> <b> | colordiff"
  output = ""

[[snippets]]
  description = "diff tmp files"
  command = "diff -y -a /tmp/a /tmp/b | colordiff"
  output = ""

[[snippets]]
  description = "diff csv"
  command = "git diff --color-words=. /tmp/a /tmp/b"
  output = ""

[[snippets]]
  description = "list webcam settings"
  command = "v4l2-ctl -l"
  output = ""

[[snippets]]
  description = "list webcam resolutions"
  command = "v4l2-ctl --list-formats-ext"
  output = ""

[[snippets]]
  description = "list webcam framesizes for outout format"
  command = "v4l2-ctl --list-framesizes=YUYV"
  output = ""

[[snippets]]
  description = "extract P11Db totals"
  command = "sed -n '/P11Db/,/\\/P11Db/{/P11Db\\|\\/P11Db/d;p}' /tmp/t"
  output = ""

[[snippets]]
  description = "update pacman dbs"
  command = "sudo pacman -Syy"
  output = ""

[[snippets]]
  description = "check service on port"
  command = "ss -tunelp | grep 6600"
  output = ""

[[snippets]]
  description = "remove dangling and ununsed docker images"
  command = "docker image prune -a"
  output = ""

[[snippets]]
  description = "delete ALL dangling docker data (i.e. In order: containers stopped, volumes without containers and images with no containers)"
  command = "docker system prune"
  output = ""

[[snippets]]
  description = "delete ALL dangling docker data (i.e. In order: containers stopped, volumes without containers and images with no containers). Even unused data, with -a option"
  command = "docker system prune -a"
  output = ""

[[snippets]]
  description = "find large files; sort by size"
  command = "sudo find / -xdev -type f -size +100M -exec ls -la {} \\; | sort -nk 5"
  output = ""

[[snippets]]
  description = "find large dirs"
  command = "sudo du -ahx / | sort -rh | head -20"
  output = ""

[[snippets]]
  description = "checkout single file from stash"
  command = "git checkout stash@{0} --  <filename>"
  output = ""

[[snippets]]
  description = "list files sorted by size"
  command = "sudo du -hs /home/* | sort -h"
  output = ""

[[snippets]]
  description = "reload plasma panel"
  command = "kquitapp5 plasmashell || killall plasmashell && kstart5 plasmashell"
  output = ""

[[snippets]]
  description = "reset file to master"
  command = "git checkout origin/master -- <filename>"
  output = ""

[[snippets]]
  description = "show diff in branch commits"
  command = "git diff --name-only <branch2> $(git merge-base <branch2> <branch1>)"
  output = ""

[[snippets]]
  description = "open diff of all files modified in current branch in nvim"
  command = "git diff --name-only <feature> $(git merge-base <feature> <base> ) > /tmp/diff && nvim $(cat /tmp/diff)"
  output = ""

[[snippets]]
  description = "search and open results in vim"
  command = "rg <search-term> **/*.phrases.ts -l -i > /tmp/rg && nvim $(cat /tmp/rg)"
  output = ""

[[snippets]]
  description = "list partitions / drives"
  command = "lsblk"
  output = ""

[[snippets]]
  description = "list disks"
  command = "sudo fdisk -l"
  output = ""

[[snippets]]
  description = "how long does dd take"
  command = "kill -USR1 <pid>; sleep 1;kill <pid>"
  output = ""

[[snippets]]
  description = "list devices / usb drives"
  command = "lsblk"
  output = ""

[[snippets]]
  description = "move i3 workspace"
  command = "i3-msg move workspace to output left"
  output = ""

[[snippets]]
  description = "i3 turn off laptop display"
  command = "xrandr --output eDP1 --off"
  output = ""

[[snippets]]
  description = "shell into docker-compose"
  command = "docker-compose run web bash"
  output = ""

[[snippets]]
  description = "check port"
  command = "sudo lsof -i :8000"
  output = ""

[[snippets]]
  description = "set additional monitor resolution"
  command = "xrandr --output DP3 --auto --scale 0.9x0.9 --right-of eDP1"
  output = ""

[[snippets]]
  description = "redshift very red"
  command = "redshift -PO 1000"
  output = ""

[[snippets]]
  description = "staging cluster credentials"
  command = "gcloud container clusters get-credentials pento-stg-europe-west1 --zone europe-west1 --project pento-staging"
  output = ""

[[snippets]]
  description = "show dns server"
  command = "nmcli dev show"
  output = ""

[[snippets]]
  description = "lookup ip and show dns server used"
  command = "nslookup slack.com"
  output = ""

[[snippets]]
  description = "run single go test"
  command = "go test -run "
  output = ""

[[snippets]]
  description = "go test update golden files"
  command = "go test -run TestPayslipCSVHandler_GetPayrollVarianceReport -update_files ./..."
  output = ""

[[snippets]]
  description = "git, open conflicted files in vim"
  command = "nvim $(git diff --name-only --diff-filter=U)"
  output = ""

[[snippets]]
  description = "grep/search word in files and open in vim"
  command = "rg --vimgrep 'hao' | vim -q /dev/stdin"
  output = ""

[[snippets]]
  description = "list audio sources"
  command = "pacmd list-sources"
  output = ""

[[snippets]]
  description = "update signatures and system"
  command = "sudo pacman -Sy archlinux-keyring && sudo pacman -Su"
  output = ""

[[snippets]]
  description = "mount usb drive"
  command = "sudo mkdir /mnt/usb && sudo mount /dev/... /mnt/usb && umount /mnt/usb"
  output = ""

[[snippets]]
  description = "batch clean audio with noise sample"
  command = "ls -r -1 *.mp3 | xargs -L1 -I{} sox {}  {}_noise_reduced.mp3  noisered ../../noise_profile_file 0.30"
  output = ""

[[snippets]]
  description = "check RAM size"
  command = "grep MemTotal /proc/meminfo"
  output = ""

[[snippets]]
  description = "mount ntfs with rw permission"
  command = "sudo mount -o rw,auto,user,fmask=0022,dmask=0000  /dev/sdb2 /mnt/usb "
  output = ""

[[snippets]]
  description = "add network to wpa_supplicant"
  command = "wpa_passphrase MYSSID passphrase > /etc/wpa_supplicant/wpa_supplicant.conf"
  output = ""

[[snippets]]
  description = "ripgrep ignore dir and glob by fileextension"
  command = "rg csrf -g '!vendor/' -g '!tests' -g '*.go'"
  output = ""

[[snippets]]
  description = "safely remove/unmount usb drive"
  command = "sudo udisksctl unmount -b /dev/sda1 && sudo udisksctl power-off -b /dev/sda\\n\\n"
  output = ""

[[snippets]]
  description = "find process running on port"
  command = "sudo ss -lptn 'sport = :8888'"
  output = ""

[[snippets]]
  description = "gtk 3 settings"
  command = "nvim .config/gtk-3.0/settings.ini"
  output = ""

[[snippets]]
  description = "vim bookmarks"
  command = "ma mA `a `A"
  output = ""

[[snippets]]
  description = "show wifi networks"
  command = "nmcli connection show | grep wifi"
  output = ""

[[snippets]]
  description = "show running systemd units"
  command = "sudo systemctl --type=service --state=running"
  output = ""

[[snippets]]
  description = "show wifi pass"
  command = "sudo nmcli connection show void -s | grep psk"
  output = ""

[[snippets]]
  description = "delete docker images where name matches zededa"
  command = "docker rmi $(docker images | grep 'zededa')"
  output = ""

[[snippets]]
  description = "prevent NetworkManager from overwriting resolv.conf"
  command = "sudo tee -a /etc/NetworkManager/NetworkManager.conf > /dev/null <<EOT\\n[main]\\ndns=none\\nrc-manager=unmanaged\\nEOT"
  output = ""

[[snippets]]
  description = "remove duplicate lines from file"
  command = "awk -i inplace '!seen[$0]++' data/tatoeba/01/input/merge"
  output = ""

[[snippets]]
  description = "Clear /var/lib/docker/overlay2. Docker uses /var/lib/docker to store your images, containers, and local named volumes. Deleting this can result in data loss and possibly stop the engine from running. The overlay2 subdirectory specifically contains the various filesystem layers for images and containers. To cleanup unused containers and images, use docker system prune."
  command = "docker system prune --all"
  output = ""

[[snippets]]
  description = "segment chinese text"
  command = "./segment.sh pku ./input UTF-8 0 > ./segmented"
  output = ""

[[snippets]]
  description = "theme"
  command = "lxappearance"
  output = ""

[[snippets]]
  description = "qt layout"
  command = "qt5ct"
  output = ""

[[snippets]]
  description = "QT scale factor"
  command = "export QT_SCALE_FACTOR=1.5 thunar"
  output = ""

[[snippets]]
  description = "make gitconfig's InsteadOf work with Cargo"
  command = "export CARGO_NET_GIT_FETCH_WITH_CLI=true"
  output = ""

[[snippets]]
  description = "zip dir"
  command = "zip -r "
  output = ""

[[snippets]]
  description = "search git commit and ignore case"
  command = "git log --all -i --grep='grammar'\\n"
  output = ""

[[snippets]]
  description = "find process on port number"
  command = "sudo lsof -i :3000"
  output = ""

[[snippets]]
  description = "find 10 largest directories / disk space"
  command = "sudo du -h --max-depth=1 / | sort -hr | head -10\\n"
  output = ""

[[snippets]]
  description = "Clear package cache and remove all cached versions except the three most recent ones / disk space"
  command = "sudo paccache -r\\n"
  output = ""

[[snippets]]
  description = "Remove orphaned packages / disk space"
  command = "sudo pacman -Rns $(pacman -Qtdq)\\n"
  output = ""

[[snippets]]
  description = "Remove journal logs / disk space"
  command = "sudo journalctl --vacuum-size=50M"
  output = ""

[[snippets]]
  description = "check for large core dump files / disk space"
  command = "sudo find / -type f -name \"core\" -exec du -h {} + | sort -hr\\n"
  output = ""

[[snippets]]
  description = "find class of i3 window"
  command = "xprop | grep WM_CLASS"
  output = ""

[[snippets]]
  description = "xrandr set brightness"
  command = "xrandr --output DP-1 --brightness 1.0"
  output = ""

[[snippets]]
  description = "get GPU info"
  command = "lspci | grep -i vga"
  output = ""

[[snippets]]
  description = "curl azure audio api"
  command = "curl --location --request POST \"https://germanywestcentral.tts.speech.microsoft.com/cognitiveservices/v0\" \\\\n    --header \"Ocp-Apim-Subscription-Key: 8e1e1b7d9fa34fc8b25fcf7995746e61\" \\\\n    --header \"Content-Type: application/ssml+xml\" \\\\n    --header \"X-Microsoft-OutputFormat: audio-16khz-128kbitrate-mono-mp3\" \\\\n    --header \"User-Agent: curl\" \\\\n    --data-raw '<speak version=\"1.0\" xmlns=\"http://www.w3.org/2001/10/synthesis\" xmlns:mstts=\"https://www.w3.org/2001/mstts\" xml:lang=\"zh-CN\">\\n<voice name=\"zh-CN-YunyiMultilingualNeural\">\\n        <mstts:silence  type=\"Tailing-exact\" value=\"1000ms\"/>\\n        <prosody rate=\"0.7\">\\n                   解释\\n        </prosody>\\n    </voice>\\n</speak>' > o.mp3\\n"
  output = ""

[[snippets]]
  description = "find my ip in local network"
  command = "ip addr show\\n"
  output = ""

[[snippets]]
  description = "check what's running on port 80"
  command = "sudo netstat -tlnp | grep :80\\nsudo ss -tlnp | grep :80\\nsudo lsof -i :80"
  output = ""
